.pages_list {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.378);
    margin: 20px auto;
}

.elektornikaMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.87);
}

.selects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.selects span {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(98, 101, 106, 0.87);
}

.selects select {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 40px;
    width: 220px;
}

.selects select option {
    font-weight: 400;
    font-size: 14.4px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
}

.contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    margin-left: 40px;
}

.elements {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.elem {
    width: 988px;
    gap: 8px;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hrElecktronika {
    margin: 30px auto;
}

.elemTitle {
    font-weight: 600;
    font-size: 17px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.87);
}

.listItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    margin-left: 20px;
    width: 235px;
}

.listItemstext {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(84, 83, 83, 0.87);
    letter-spacing: 0.1px;

    border-radius: 6px;
    padding: 5px 10px;

}

.listItems p:hover {
    background-color: rgba(128, 128, 128, 0.119);
    cursor: pointer;
}

.rotateRage {
    transform: rotate(90deg);
}

.mainText {
    font-weight: 600;
    color: rgba(33, 32, 32, 0.87);
    background-color: rgba(128, 128, 128, 0.119);
}

.fa-angle-left {
    transform: translateX(-5px);

}

.Brend p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.Brend p input {
    outline: none;
}

.Brend {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

.inputTextura {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding:5px 15px;
    width: 126px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.oranm{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}
.inputTextura p {
    font-weight: 400;
    font-size: 12.25px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.inputTextura input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    width: 50px;
    background: transparent;
}
.narxInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fa-angle-left{
    transition: all 0.5s ease;
    font-size: 12px;
}
.bar:hover .fa-angle-left{
    transform: translateX(-10px);

}
.listItems p:hover {
    background-color: rgba(128, 128, 128, 0.119);
    cursor: pointer;
}

.rotateRage {
    transform: rotate(90deg);
}

.mainText {
    font-weight: 600;
    color: rgba(33, 32, 32, 0.87);
    background-color: rgba(128, 128, 128, 0.119);
}

.fa-angle-left {
    transform: translateX(-5px);

}

.Brend p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.Brend p input {
    outline: none;
}

.Brend {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}