@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap');

.Navbar {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.nav {
    width: 100%;
    height: 32px;
    background: #F4F5F5;
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navGorod {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navGorod p {

    line-height: 14px;
    color: #141415;
    cursor: pointer;
    text-decoration: solid;
}

.navDatavka p {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #62656A;
}

.navFoot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navFoot p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #62656A;
}

.lagluage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lagluage img {
    border-radius: 50%;
}

.navSearch {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.katalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    background: rgba(49, 49, 196, 0.1);
    border-radius: 4px;
    gap: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.katalog p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3333CC;
    margin-right: 15px;
}

.katalog:hover {
    background: rgba(49, 49, 196, 0.162);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.5px 0 11.5px 11.5px;
    width: 560px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(118, 121, 127, 0.3);
    border-radius: 4px;
}

.search input {
    outline: none;
    border: none;
    width: 100%;
    flex: 1;
}

.search input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #757575;
}

.button {
    padding: 6px 27.0312px 10px 27.0234px;
    height: 40px;
    background: rgba(118, 121, 127, 0.05);
    border-radius: 0px 4px 4px 0px;
    color: #62656A;
}

.searchUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90px;
    height: 40px;

    border-radius: 4px;
}

.user p {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.user:hover {
    background-color: #62656a18;
}

.heart {
    width: 115px;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 1240px;
    margin: 0 auto;
}

.items {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.609);
    transition: color 0.5s ease;
}

.items:hover {
    color: #000000;
    cursor: pointer;
}

.katalogOpen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 600px;
    z-index: 999;
    top: 95px;
    box-shadow: 0px 91px 76px 0px rgba(34, 60, 80, 0.21);
    transition: all 0.2s ease;
}

.katalogClose {
    position: absolute;
    display: flex;
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    height: 600px;
    z-index: 0;
    top: 95px;
    box-shadow: 0px 91px 76px 0px rgba(34, 60, 80, 0.21);
    transition: all 0.2s ease;
}

.boxTitlt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    padding: 5px 10px;
    height: 39.796875px;
    width: 263px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.boxTitlt:hover {
    background: rgba(118, 121, 127, 0.1);
    cursor: pointer;
}

.boxItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.boxItem p {

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #141415;
}

.boxContainer {
    width: 1240px;
    margin: 0 auto;
}

.texnikaText {
    display: none;
}